<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinGrooves.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinGrooves.Properties.Settings>
            <setting name="trayMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hotkeyPlay" serializeAs="String">
                <value>393252</value>
            </setting>
            <setting name="hotkeyNext" serializeAs="String">
                <value>393255</value>
            </setting>
            <setting name="hotkeyPrevious" serializeAs="String">
                <value>393253</value>
            </setting>
            <setting name="hotkeyFavorite" serializeAs="String">
                <value>393322</value>
            </setting>
            <setting name="hotkeyDislike" serializeAs="String">
                <value>393325</value>
            </setting>
            <setting name="hotkeyLike" serializeAs="String">
                <value>393323</value>
            </setting>
            <setting name="hotkeyShowHide" serializeAs="String">
                <value>393261</value>
            </setting>
            <setting name="hotkeyMute" serializeAs="String">
                <value>393293</value>
            </setting>
            <setting name="hotkeyShuffle" serializeAs="String">
                <value>393299</value>
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="trayClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showBalloonNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numBalloonDelay" serializeAs="String">
                <value>1</value>
            </setting>
        </WinGrooves.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
